.contact {

	&__text {

		@include below (sm) {
			margin-bottom: 3rem;
		}

		a:not(.btn) {
			color: $pink;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__form {
		display: none;
		transition: all ease .6s;
		position: relative;
		margin-top: 3rem;
		will-change: transform;

		&.is-active {
			transition: all ease .6s;
			display: block;
			animation: fade-in .6s; 
			animation-iteration-count: 1;
		}
	}

	&__btn {

		&.is-active {
			background: $pink;
			color: $white;
		}

		@include below (sm) {
			margin-top: .5rem;
			margin-bottom: .5rem;
		}

		@include above (sm) {

			& + & {
				margin-left: 1rem;
			}
		}
	}

	&__social {
		color: $color-font-body;

		span, svg {
			height: 100%;
		}

		svg {

			&:last-child {
				padding: 1.4rem;
			}
		}
	}
}