.cta {
	@include bg-cover();
	@include bg-multiply();
	padding-top: 5rem;
	padding-bottom: 5rem;

	@include above (sm) {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	@include above (md) {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}

	&__item {
		color: $white;
		position: relative;
		z-index: 10;

		&--map {

			@include below (sm) {
				display: block !important;
				text-align: center;
			}
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 3rem;

		&--map {
			margin-top: 0;

			@include above (sm) {
				margin-bottom: 0;
			}
		}
	}

	&__btn {

		&--map {

	
		}
	}

	&--map {
		background: $pink;
		background-repeat: no-repeat;
		background-position: center center;
		padding-top: 5rem;
		padding-bottom: 5rem;
		color: $white;

		@include below (sm) {
			background-size: cover;
		}
	}
}

//fallback for bg multiply - edge & ie
.is-edge, .is-ie {

	.cta {
		position: relative;

		&:after {
			background: $pink;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: .9;
			z-index: 0;
		}
	}
}