.embed {

	&--video {
		position: relative;
  		display: block;
  		height: 0;
  		padding: 0;
  		overflow: hidden;
  		margin-top: 1.5rem;
  		margin-bottom: 1.5rem;
	}

	&--16-9 {
		padding-bottom: 56.25%;
		position: relative;
	}

	&--4-3 {
		padding-bottom: 75%;
		position: relative;
	}

	&__link {
		background: no-repeat center center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__video > * {
		position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	border: 0;
	}

	&__meta-title {
		margin-top: 1.5rem;
	}

	&__title {
		margin-top: 0;
	}

	&__title-wrap {
		position: relative;
		margin-bottom: 3rem;
		display: inline-block;

		i {
			position: absolute;
			font-size: 82px;
			z-index: -1;
			opacity: .1;
    		right: -2rem;
		    top: -1.2rem;
		}
	}

	&__icon {
		font-size: 32px;
	}

	&__item {
		padding: 1rem; 

		@include below (sm) {
			width: 100%;
		}
	}

	&__btn {
		margin-top: 2rem;
	}
}