.footer {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@include above (sm) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	&__item {
		
		p:last-child {
			margin-bottom: 0;
		}

		a {
			color: #CAC8C7;
			transition: all ease .3s;

			&:hover {
				color: $pink;
			}
		}

		i {
			color: $pink;
			margin-right: .2rem;
		}
	}

	&__title {
		color: $white;
		margin-bottom: 2.5rem;

		@include above (sm) {
			margin-top: 0;
		}
	}
}
