.gallery {
	position: relative;

	&__row {
		position: relative;

		@include above (sm) {
			margin-left: -3rem;
			margin-right: -3rem;
		}
	}

	&__bg {
	    position: relative;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    top: 0;
	    display: flex;
	    flex-direction: column;
	    align-items: center;

	    &--wrap {
	    	position: sticky;
	    	top: 0;
	    	width: 100%;
	    	z-index: 0;
	    }
	}

	&__mason {

		&--top {
			position: relative;
			top: -5rem;

			@include above (sm) {
				top: -8rem;
			}
		}
	}

	&__wrap {

		@include above (xs) {
			margin: 3rem 0rem;
		}
	}

	&__item {
		padding: 0 1rem;
		width: 50%;
		margin: 0;
		position: relative;
		z-index: 10;

		@include below (xs) {
			width: 100% !important;
			padding: 1rem;
		}

		@include above (sm) {
			padding: 1.5rem 3rem;
		}

		&--2, &--5, 
		&--12, &--16 {
			width: 33.3%;
			right: 0;
			margin-top: auto;
		}

		&--6, &--9, 
		&--13 {
			width: 33.3%;
			left: 0;
			margin-bottom: auto;
		}

		&--4, &--8,
		&--11 {
			width: 40%;
			left: 0;
			margin: auto;
		}

		&--3, &--7,
		&--15 {
			width: 45%;
		}	
	}

	&__link {

	}
}

.fancybox-bg {
	opacity: .99 !important;
}