.header {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
	
	&--front {

		@include above (md) {
			position: absolute;
			top: 0;
			width: 100%;
			left: 0;
			z-index: 20;
		}
	}

	&__logo {
		display: block;
		float: left;

		img {
			width: 180px;
			height: 100px;

			@include above (md) {
				width: 200px;
				height: 111px;
			}

			@include above (lg) {
				width: 240px;
				height: 133px;
			}
		}
	}
}