.instagram {

	&__meta-title {
		margin-top: 1.5rem;
	}

	&__title {
		margin-top: 0;
	}

	&__title-wrap {
		position: relative;
		margin-bottom: 3rem;
		display: inline-block;

		i {
			position: absolute;
			font-size: 82px;
			z-index: -1;
			opacity: .1;
	    	right: -2rem;
		    top: -1.2rem;
		}
	}

	&__icon {
		font-size: 32px;
	}

	&__item {
		padding: 1rem; 

		@include between (xs, sm) {
			width: 50%;
		}

		@include between (sm, md) {
			width: 33.3%;
		}
	}

	&__btn {
		margin-top: 2rem;
	}
}