//optimize this messy shit sometime soon
.jobs {

	&__table-header, &__table-list {
		list-style: none;
		padding: 1rem;
		margin-bottom: 0;

		&:after, &:before {
			content: '';
			position: absolute;
			height: 1px;
			bottom: 0;
			transition: all .6s cubic-bezier(.77,0,.175,1);
			left: 1rem;
		}

		&:after {
			width: calc(100% - 2rem);
			background: $border;
		}

		&:before {
			background: $pink;
			z-index: 10;
			width: 0;
		}	
	}

	&__table-list {
		overflow: hidden;
	}

	 &__table-header, &__table-trigger {	
		position: relative;
		width: 100%;
	}	

	&__table-header {
		color: $pink;		
	}

	&__table-trigger {
		cursor: pointer;
		padding: 1rem 0rem;

		@include below (sm) {
			display: flex;
		}

		&.is-active {

			.jobs__table-item--description {
				opacity: 1;
				min-height: fit-content;
				max-height: none; 

				@include above (sm) {
					padding: 2rem 1rem;
				}
			}
		}

		&:hover {

			&:before {
				width: calc(100% - 2rem);
			}
		}
	}

	&__table-item {
		flex: 1;

		&--title {
			font-weight: 500;

			@include above (sm) {
				font-size: 24px;
			}
		}

		&--description {
			max-height: 0;
			opacity: 0;
			transition: all ease .3s;

			&.show {
				opacity: 1;
				min-height: fit-content;
				max-height: none; 

				@include above (sm) {
					padding: 2rem 1rem;
				}
			}

			h1, h2, 
			h3, h4,
			h5, h6 {
				color: $pink;
			}

			ul {
				margin-bottom: 1.5rem;
			}

			a {
				color: $pink;
			}
		}
	}
}