.keyword-banner {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10;

	&__marquee {
		padding-top: .5rem;
		padding-bottom: .5rem;
		width: 100%;

		@include above (sm) {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}

	&__keyword {
		font-weight: 600;
		font-size: 12px;
		margin-left: 1rem;
		margin-right: 1rem;

		@include above (sm) {
			font-size: 14px;
		}

		i {
			position: relative;
			right: -1rem;
		}

		&:last-child {

			i {
				display: none;
			}
		}
	}
}