//Base Styles
.pink--bg {
  color: $white;
}

.gray-dark--bg {
  color: #CAC8C7;
}



//WYSIWYGs
.wysiwygs {

  &__title {

  }

  &__col {

    i {
      color: $pink;
      margin-right: .2rem;
    }

    a:not(.btn) {
      color: $pink;
    }
	
    @include above (sm) {

      &.first {

        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.flex {
  display: flex;

  &--hvalign {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--valign {
    align-items: center;
    justify-content: center;
  }

  &--justify {
    justify-content: space-between;
  }

  &--center {
    align-items: center;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--end {
    justify-content: flex-end;
  }
}


.padding {

  &--top {
    padding-top: 3rem;
  }

  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
      padding-bottom: 6rem;
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  @include above (md) {

    &--top {
      padding-top: 8rem;
    }

    &--bottom {
      padding-bottom: 8rem;
    }

    &--both {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

.margin {

  &--top {

  }

  &--bottom {

  }

  &--both {

  }

  @include above (sm) {

    &--top {

    }

    &--bottom {

    }

    &--both {

    }
  }
}