.link-boxes {
 
	&__header {
		
	}

	&__row {
		@include above (sm) {
			margin-left: -1.5rem;
			margin-right: -1.5rem;
		}	
	}

	&__item {
		box-shadow: 0px 0px 12px rgba($black, .1);
		padding: 0;
		margin: 1rem;
		margin-bottom: 1.5rem;
		@include border-radius();
		@include cover();
		@include bg-overlay(
			$opacity: .2
		);
		overflow: hidden;
		display: block;

		&:last-child() {
			margin-bottom: 0;
		}

		@include above (sm) {
			margin: 1.5rem;	
			width: calc(50% - 3rem);
		}

		@include above (md) {
			width: calc(33.3% - 3rem);
		}

		&:hover {

			&:after {
				opacity: 0;
			}

			.link-boxes__btn {

				svg {
					&:first-child {
						stroke-dasharray: 207.34512px 207.34512px;
		    			stroke-dashoffset: 207.34512px;
		    			stroke: $pink;
		    			opacity: 1;
						animation: arrow-circle-over 1.5s cubic-bezier(.77,0,.175,1) forwards;
					}
				}
			}
		}
	}

	&__wrap {
		padding: 3rem 1.5rem;
		position: relative;
		z-index: 10;
	}

	&__title {
		color: $white;
		margin-top: 0;
		margin-bottom: 2rem;
	}
}