/**
 * Navigation
 **/

.nav {

	@include above (md) {
		display: flex;
		flex: 1;

		#menu-main-nav, #menu-main-nav-english, 
		#menu-main-nav-italian {
			display: flex !important;
			justify-content: center;
			width: 100%;
		}
	}

	&--front {
		
		.nav__link {
			@include above (md) {
				color: $white;
			}
		}
	}

	/**
	 * Mobile menu panel
	 **/

	&__menu {
		position: relative;
	    list-style: none;
	    z-index: 100;
	    width: 100%;
	    top: 1rem;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (md) {
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1.5rem;
		opacity: 0;

		@include above (md) {
			padding: 1rem .4rem;
			font-size: 15px;
			opacity: 1;
			display: inline-block;
			float: left;
			width: max-content; 
		}

		@include between (md, lg) {
			padding: 1rem .4rem;
			font-size: 14px;
		}

		@include above (lg) {
			padding: 1rem .5rem;
			font-size: 16px;
		}

		&.is-animated {
			opacity: 1;
			transform: translateY(-1rem);
			transition: all ease .3s;
			transition-delay: .6s;
		}

		&.is-dropdown {

			@include above (sm) {

				&:hover {
					.nav__dropdown {
						display: block!important;
					}
				}
			}
		}

		&--btn {

			@include below (md) {
				margin-top: 2rem;
			}

			a {

				&:after {
					display: none;
				}

				&.is-active {
					background: $pink;
					color: $white;
				}
			}

			&.is-active > a {
				background: $pink;
				color: $white;
			}
		}

		&.is-active > a {
			
			&:after {
				transform: scaleX(1);
			}
		}
	}


	&__link {
		color: $color-font-body;
		font-weight: 600;
		position: relative;

		&:after {
		    content: '';
		    border-bottom: solid 3px $pink;
		    position: absolute;
		    bottom: -.5rem;
		    left: 0;
		    width: 100%;
		    transform: scaleX(0);
		    transform-origin: right;
		    transition: transform .6s cubic-bezier(.77,0,.175,1);
		}

		&:hover {

			&::after {
				transform-origin: left;
				transform: scaleX(1);
			}
		}

		&.is-active {
			
			&:after {
				transform: scaleX(1);
			}
		}
	}


	&__dropdown {
		display: block;
		padding: 0;
		position: relative;
		top: 1.5rem;
		background: transparent;

		li {
			padding: .5rem 1.5rem;
			float: none;
			display: block;
		}

		&.is-visible {
			display: block;
		}

		@include above (md) {
			position: absolute;
			display: none;
			top: 100%;
			background: $pink;
			@include border-radius();
			padding: 1rem;

			li {
				padding: .5rem 0rem;
			}
		}


		a {
			white-space: nowrap;

			@include above (md) {
				color: $white;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		
		@include below (md) {
			position: fixed;
			z-index: 78888;
			top: 132px;
			left: 0;
			height: calc(100% - 132px);
			width: 100%;
			transform: translateX(-100%);
			transition: transform .6s cubic-bezier(.77,0,.175,1);
			background: $gray;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}

			// Set body to fixed		
			@at-root {
				body.is-fixed {
					@include below (md) {
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		@include above (md) {
			display: flex;
    		flex: 1;
    		justify-content: space-between;
    		align-items: center;
		}
	}

	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1.5rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (md) {
			display: none;
		}

		&__label {
			color: $black;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 2px;
			background: transparent;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 2px;
				background: $pink;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.25rem;
			}

			&::after {
				top: -.25rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

