.page {
	
	&__hero {
		@include bg-cover();
		padding-top: 5rem;
		padding-bottom: 5rem;
		transition: transform .8s cubic-bezier(.77,0,.175,1);

		@include above (sm) {
			padding-top: 9rem;
			padding-bottom: 9rem;
		}

		@include above (md) {
			padding-top: 10rem;
			padding-bottom: 10rem;
		}

		@include above (lg) {
			padding-top: 12rem;
			padding-bottom: 12rem;
		}

		&.is-animated {
			transform: scale(1.05);
		}

		&--wrapper {
			position: relative;
			overflow: hidden;
		}
	}

	&__intro {
		padding-bottom: 3rem;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 3rem;

		@include below (sm) {
			line-height: 1.4; 

			br {
				display: none;
			}
		}

		@include above (sm) {
			padding-top: 6rem;
		}

		@include above (md) {
			padding-top: 8rem;
		}
	}  
}
