.quick-links {

	&__header {
		margin-top: 0;
		margin-bottom: 2rem;
	}

	&__link {
		display: flex;
		align-items: center;

		@include below (sm) {
			width: 100%;
		}

		@include below (lg) {
			flex-direction: column;
		}
	}

	&__item {
		color: $color-font-body;
		width: 100%;
		padding-top: 1rem;
		padding-bottom: 3rem;
		float: left;
		display: inline-block;

		@include above (sm) {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}

		@include above (lg) {
			width: 50%;
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

		&--img {

		}

		&--text {

			@include below (lg) {
				text-align: center;
				padding-top: .5rem;
			}

			@include above (lg) {
				display: flex;
				flex-direction: column;
			}
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 0;
	}
}