.references {

	&__item {
		background: $white;
    	margin: 1rem;
    	width: 100%;
    	padding: 3rem 1rem;

		@include above (xs) {
			width: calc(50% - 2rem);
		}

		@include above (sm) {
			width: calc(33.3% - 2rem);
		}
	}

	&__logo {
		filter: grayscale(100%);
	}
}