.review {

	&__header {
		margin-top: 0;
	}

	&__item {
		padding-bottom: 1.5rem;

		span {
			color: $pink;
		}
	}

	&__list {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		border-top: $border 1px solid;

		@include above (sm) {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}

		&:last-child {
			border-bottom: $border 1px solid;
		}

		&--title {
			margin-top: 0;
			padding-bottom: 1rem;
		}
	}

	&__score {

		&:after {
			font-family: 'Ionicons';
			color: $pink;
		}

		&--1 {

			&:after {
				content: '';
			}
		}

		&--2 {

			&:after {
				content: '/';
			}
		}

		&--3 {

			&:after {
				content: '';
			}
		}

		&--4 {

			&:after {
				content: '';
			}
		}

		&--5 {

			&:after {
				content: '';
			}
		}
	}
}