.testimonials {
	padding-top: 6rem;
	padding-bottom: 3rem;

	@include above (sm) {
		padding-top: 8rem;
		padding-bottom: 0rem;
	}

	&__header {
		margin-top: 0;
		margin-bottom: .75rem;
		position: relative;
		z-index: 10;

		&-wrap {
			position: relative;

			svg {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: -2rem;
				z-index: 0;
			}
		}
	}

	&__meta-title {
		margin-top: 1.5rem;
    	margin-bottom: 3rem;
    	position: relative;
    	z-index: 10;
	}

	&__item {
		border-radius: .3rem;
		display: flex;
		justify-content: center;
		text-align: center;

		p {
			line-height: 2rem;
		}

		@include above (sm) {
			padding: 3rem 6rem;
		}

		&--offset {
			padding: 4rem 1.5rem 3rem 1.5rem;

			@include above (md) {
				padding: 4rem 6rem 3rem 6rem;
			}
		}
	}

	&__img {
		max-width: 4.8rem; 
		height: auto;
		border-radius: 50%;
		border: 2px solid $white;
		position: absolute;
		top: -2.5rem;
	}

	&__name {
		display: block;
		line-height: 2rem;
		font-weight: 600;
	}
}