.usp {

	&__header {
		margin-top: 0;
	}

	&__meta-title {
		margin-top: 1.5rem;
		margin-bottom: 3rem;
	}

	&__item {
		@include border-radius();
	}

	&__usp {
		font-weight: 600;
		text-align: center;
		width: 100%;
		padding: 1.5rem 1rem;


		&:nth-child(2) {
			transition-delay: .2s;
		}

		&:nth-child(3) {
			transition-delay: .4s;
		}

		&:nth-child(4) {
			transition-delay: .6s;
		}

		&:nth-child(5) {
			transition-delay: .8s;
		}

		@include above (sm) {
			width: 20%;
			padding: 3rem 1.5rem;
		}
	}
}

