.video {
	color: $white;
	position: relative;
	z-index: 2;
	overflow: hidden;

	&__wrap {
		position: relative;
		z-index: 1;
		height: calc(100vh - 132px);
		background: no-repeat center center;
		background-size: cover;
		@include bg-overlay(
			$opacity: .2
		);

		@include above (sm) {
			height: 70vh;
		}

		@include above (md) {
			height: 100vh;
		}
	}

	&__video {
		width: 100%;
		position: absolute;
		z-index: -100;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -35%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;

		@include above (sm) {
			transform: translate(-50%, -50%);
		}

		&--full {
			display: none;
		}
	}

	&__container {
		position: relative;
		z-index: 10;
	}

	&__row {
		justify-content: center;
	}

	&__text {
		text-align: center;
		position: relative;
		margin: auto;
	}

	&__text, &__controls--wrap {
		@extend .col-sm-12;
	}

	&__controls {

		&--wrap {

			@include below (sm) {
				width: 100%;
				margin-top: 1.5rem;
			}
		}
	}

	&__meta-title {
		text-transform: uppercase;
		letter-spacing: .3rem;
		font-weight: 600;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 3rem;
	}

	&__btn {
		color: white;
		margin: .5rem;
	}
}