@keyframes fade-in {
  0% { 
  	opacity: 0;
  	transform: translateX(-1.5rem);
  }

  100% {
  	opacity: 1;
  	transform: translateX(0);
  }
}

@keyframes arrow-circle-over {
    0% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

    to {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        stroke-dashoffset: 0
    }
}


@keyframes arrow-circle-out {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        stroke-dashoffset: 0;
    }

    to {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        stroke-dashoffset: -207.34512px;
    }
}

@-webkit-keyframes fadeOut  {

  0% {
    opacity : 1;
  }  

  100% {
    opacity : 0;
  }  
}

@keyframes fadeOut {

  0% {
    opacity : 1;
  }  

  100% {
    opacity : 0;
  }  
}


.fadeOut  {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}  

.fade-up {
	transition: all .7s ease-out;
	transform: translate3d(0px, 100px, 0px);
	backface-visibility: hidden;
	opacity: 0;

	@include above (sm) {
		transform: translate3d(0px, 150px, 0px);
	}
}

.fade-up.in-view {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
}

.fade-in {
  transition: all .7s ease-in;
  opacity: 0;
}

.fade-in.in-view {
  opacity: 1;
}