//gravity forms

.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	&_confirmation_message {
		text-align: center;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		padding: .8rem 2.5rem!important; //add important for ie 11 fix

		@include below (sm) {
			line-height: 1.5!important;
		}

		@extend .btn, .btn--hollow;

		&:hover {

		}
	}

	// Submit wrapper
	&_footer {
		text-align: center;
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		display: none !important;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	&_select {
		-webkit-appearance: none;
		border: 1px solid $gray-dark;
		border-radius: 0 !important;
		background: transparent;
		padding: 9.5px 5px!important;
		color: $color-font-light;
		background: url('../img/arrow-down.svg') transparent no-repeat right 10px center;
		background-size: 14px;
	}

	&_checkbox, &_radio {
		text-align: left;

		li {
			overflow: visible !important;
		}

		input {
			margin-top: 0 !important;
		}
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		line-height: 1 !important;
		background: transparent;
		border: 1px solid $gray-dark;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		padding: 12px 5px!important;
		text-indent: .25em;
		margin-left: auto;
		margin-right: auto;
		color: $color-font-body;
		border-radius: 0px;

		&:hover, &:focus {
			
		}

		&:focus, &:active, &:visited {
			outline: none;
		}
	}

	textarea {
		overflow: hidden !important; 
	}
}


.gf_left_half, .gf_right_half {
	@media (min-width: 640px) {
		width: calc(50% - .5rem)!important;
		margin-bottom: 1rem!important;
		margin-top: 0!important;
	}
}

.gf_left_third, .gf_middle_third,
.gf_right_third {
	@media (min-width: 640px) {
		width: calc(33.3% - .5rem)!important;
		margin-bottom: 1rem!important;
		margin-top: 0!important;
	}
}

.gf_left_half {
	@media (min-width: 640px) {
		margin-right: .99rem;
	}
}

.gf_left_third, .gf_middle_third {
	@media (min-width: 640px) {
		margin-right: .76rem;
	}
}

.datepicker {
	width: 100% !important;	
}

.gf_checkbox {

	.gfield_label {
		display: block !important;
		text-align: left;
	}
}

.ginput_container_fileupload {

	.medium {
		width: 100% !important;
	}
}


/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

input::placeholder {
	color: $color-font-light;			
}

textarea::placeholder {
	color: $color-font-light;			
}