.sidebar {
	background: $pink;
	color: $white;
	padding: 1rem;
	@include border-radius();
	margin-top: 1.5rem;

	@include above (sm) {
		margin-top: 0;
	}

	ul {
		list-style: none;
		margin-right: 0;
		margin-bottom: 0;
		padding: 1rem;

		@include above (sm) {
			padding: 1.5rem 1rem;
		}
	}

	li {
		position: relative;
		margin-bottom: .5rem;
		font-weight: 500;

		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		margin: 0;
	}
}