.slider {

	&__track {

	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 40%;

			@include above (lg) {
				padding-bottom: 40rem;
			}
		}
	}

	&__container {

	}

	&__title {

	}

	&__text {

	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
			padding-top: 3rem;
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-nav {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		display: none;
		justify-content: space-between;
		pointer-events: none;

		@include above (sm) {
			display: flex;
		}
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}


	.owl-prev, .owl-next {
		border-radius: 50%;
		display: inline-block;
		padding: 1.5rem;
		line-height: 0;
		background-size: 30px 30px;
		background-repeat: no-repeat;
		background-position: center center;
		pointer-events: all;
		border: 1px solid $pink;

		@include above (md) {
			padding: 2rem;
			background-size: 40px 40px;
		}
	}

	.owl-prev {
		background-image: url(../img/arrow-round-forward.svg);
		position: relative;
		transform: rotate(180deg);	
	}

	.owl-next {
		background-image: url(../img/arrow-round-forward.svg);		
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}