.trustpilot {
	position: fixed !important;
	right: 0;
	z-index: 100;
	bottom: 42px;
	background: white;
	padding: .3rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include above (sm) {
		bottom: 57px;
	}

	&-widget {

		@include above (sm) {

			iframe {
				width: 180px !important;
			}
		}
	}
}