.btn {
	display: inline-block;
	position: relative;
	padding: .8rem;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	font-weight: 600;

	svg {
		width: 2.5rem;
		height: auto;
	}

	&--video {
		width: 87px;
		height: 87px;

		span, svg {
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		}

		svg {
			&:first-child {
				fill: none;
				stroke: $pink;
				transition: visibility 0s 1.5s;
	    		animation: arrow-circle-out 1.5s cubic-bezier(.77, 0, .175, 1);
	    		stroke-width: 1px;
    		}

			&:last-child {
				fill: $white;
				padding: 1.4rem;
				opacity: 1;
				left: .2rem;
			}
		}

		&:hover {

			svg {
				&:first-child {
					stroke-dasharray: 207.34512px 207.34512px;
	    			stroke-dashoffset: 207.34512px;
	    			stroke: $pink;
	    			opacity: 1;
					animation: arrow-circle-over 1.5s cubic-bezier(.77,0,.175,1) forwards;
				}
			}
		}
	}

	&--gray {
		width: 67px;
		height: 67px;

		span, svg {
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		}

		svg {
			&:first-child {
				fill: none;
				stroke: $gray-dark;
				opacity: .3;
				transition: visibility 0s 1.5s;
	    		animation: arrow-circle-out 1.5s cubic-bezier(.77, 0, .175, 1);
	    		stroke-width: 1px;
    		}

			&:last-child {
				fill: $gray-dark;
				padding: 1rem;
				opacity: 1;
			}
		}

		&:hover {

			svg {
				&:first-child {
					stroke-dasharray: 207.34512px 207.34512px;
	    			stroke-dashoffset: 207.34512px;
	    			stroke: $pink;
	    			opacity: 1;
					animation: arrow-circle-over 1.5s cubic-bezier(.77,0,.175,1) forwards;
				}
			}
		}
	}

	&--pink {
		width: 67px;
		height: 67px;

		span, svg {
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		}

		svg {
			&:first-child {
				fill: none;
				stroke: $pink;
				opacity: 1;
				transition: visibility 0s 1.5s;
	    		animation: arrow-circle-out 1.5s cubic-bezier(.77, 0, .175, 1);
	    		stroke-width: 1px;
    		}

			&:last-child {
				fill: $white;
				padding: 1rem;
				opacity: 1;
			}
		}

		&:hover {

			svg {
				&:first-child {
					stroke-dasharray: 207.34512px 207.34512px;
	    			stroke-dashoffset: 207.34512px;
	    			stroke: $pink;
	    			opacity: 1;
					animation: arrow-circle-over 1.5s cubic-bezier(.77,0,.175,1) forwards;
				}
			}
		}
	}

	&--white {
		width: 67px;
		height: 67px;

		span, svg {
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		}

		svg {
			&:first-child {
				fill: none;
				stroke: $white;
				opacity: .3;
				transition: visibility 0s 1.5s;
	    		animation: arrow-circle-out 1.5s cubic-bezier(.77, 0, .175, 1);
	    		stroke-width: 1px;
    		}

			&:last-child {
				fill: $white;
				padding: 1rem;
				opacity: 1;
			}
		}

		&:hover {

			svg {
				&:first-child {
					stroke-dasharray: 207.34512px 207.34512px;
	    			stroke-dashoffset: 207.34512px;
	    			stroke: $white;
	    			opacity: 1;
					animation: arrow-circle-over 1.5s cubic-bezier(.77,0,.175,1) forwards;
				}
			}
		}	
	}

	&--nav a {
		border-radius: 2.5rem;
		border: $pink solid 1px;
		padding: .8rem 1.5rem !important;
		transition: all ease .3s;
		background: transparent;
		white-space: nowrap;

		@include above (md) {
			padding: .8rem 1.8rem !important;  
		}

		&:hover {
			background: $pink;
			color: $white !important;
		}
	}

	&--hollow {
		border-radius: 2.5rem;
		border: $pink solid 1px;
		padding: .8rem 2.5rem;
		transition: all ease .3s;
		background: transparent;
		color: $color-font-body;

		&-active {
			background: $pink;
			color: $white;
		}

		&:hover {
			background: $pink;
			color: $white;
		}
	}

	&--large {
		background: $pink;
		@include border-radius();
		display: block;
		margin-top: 1.5rem;
		padding: 1.2rem 2.5rem;
		text-align: center;
		color: $white;
		transition: all ease .3s;
		border: 1px solid $pink;
	}
}

//ie fallback - fuck Bill Gates and his lousy ass browsers
.is-ie {

	.btn {

		&--hollow, &--gray {

			span, svg {
				width: 3.5rem !important;
			}
		}

		&--video {

			span, svg {
				width: 4.5rem !important;
			}
		}
	}
}