/********************GLOBAL********************/

* {
  /* (http://paulirish.com/2012/box-sizing-border-box-ftw/) */
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
  }

  @include line-height(1);

  @include above (sm) {
    $leading-rem: $leading-rem-desktop;
    @include line-height(1);
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-font-size;
  font-family: $font-body;
  color: $color-font-body;

  @include above (sm) {
    font-size: $base-font-size-desktop;
  }
}

body {
  background-color: $gray;
  overflow-x: hidden;
  margin: 0;
  margin-bottom: 41px;

  @include above (sm) {
    margin-bottom: 56px;
  }
}

/* Links */
a, .a {
  text-decoration: none;
  outline: none;
}

strong {
  font-weight: 500;
}

/* Figures and Blockquotes */
figcaption {
  color: red;
  font-style: italic;
  text-align: center;
}

blockquote {
  background: $gray;
  @include margin(1.5, 0);
  @include padding(1, 0.5);
  quotes: "\201C""\201D";
  position: relative;

  &:before {
    content: open-quote;
    font-size: 4rem;
    position: absolute;
    top: 2px;
  }

  p {
    display: inline;
  }
}

/* Paragraphs and Lists
   ========================================================================== */

  p, ul, ol {
    @include margin(0, 0, 1);
    @include above (sm) {
      $leading-rem: $leading-rem-desktop;
      @include margin(0, 0, 1);
      margin-left: auto;
      margin-right: auto;
    }
  }

  ul, ol {
    ul, ol {
      margin-bottom: 0;
    }
  }

  @if $paragraph-indent == true {

    p + p {
      @include margin-top(-1);
      text-indent: #{ $leading-rem + 'rem'};

      .alignleft + p,
      .alignright + p {

        @include m {
          $leading-rem: $leading-rem-desktop;
          text-indent: #{ $leading-rem + 'rem'};
        }

      }
    }
  }

  @include above (sm) {
    $leading-rem: $leading-rem-desktop;

    @if $paragraph-indent == true {

      p + p,
      .alignleft + p,
      .alignright + p {
        @include margin-top(-1);
      }

    }

  }

  // Horizontal rule
  $hr-style: line; // [ line / type ]
  $hr-type-content: '***'; // [ '***' ]
  $hr-type-char-spacing: .2em; // [ .2em ]
  $hr-margin: 2;
  $hr-margin-desktop: $hr-margin;
  $hr-color: $color-font-body;
  $hr-width: 100; // [ 100 ] — In pixels, only for line style
  $hr-height: 4; // [ 2 ] — In pixels, only for line style

hr {
  @include margin-top($hr-margin);
  @include margin-bottom($hr-margin);

  box-sizing: content-box;
  border: 0;
  color: $hr-color;
  display: block;
  height: #{$leading-rem + 'rem'};
  margin-right: auto;
  margin-left: auto;

  @if $hr-style == 'line' {
    background-size: 100% #{$leading-rem + 'rem'};
    background-image: linear-gradient(to bottom, transparent 1px, transparent #{ 0.5 * $leading - (0.5 * $hr-height) + 'px'},  $hr-color #{ 0.5 * $leading - (0.5 * $hr-height) + 'px'}, $hr-color #{ (0.5 * $leading  - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{ (0.5 * $leading  - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{$leading + 'px'});

    @if $hr-width == null {
      width: 100%;
    } @else {
      width: #{$hr-width + 'px'};
    }
  }

  @include above (sm) {
    $leading-rem: $leading-rem-desktop;
    $hr-margin: $hr-margin-desktop;

    @if $hr-style == 'line' {
      background-size: 100% #{$leading-rem + 'rem'};
      background-image: linear-gradient(to bottom, transparent 1px, transparent #{ 0.5 * $leading - (0.5 * $hr-height) + 'px'}, $hr-color #{ 0.5 * $leading - (0.5 * $hr-height) + 'px'}, $hr-color #{ (0.5 * $leading - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{ (0.5 * $leading - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{$leading + 'px'});
    }

  }

  @if $hr-style == 'type' {
    text-align: center;

    &:before {
      content: $hr-type-content;
      letter-spacing: $hr-type-char-spacing;
    }
  }
}

/* Headings */
$headings: (
  h1: (2.5, 2, 4, 1),
  h2: (1.6875, 1.5, 2.5, 0.5),
  h3: (1.375, 1, 2, 0.5),
  h4: (1.2, 1, 1.5, 0.5),
  h5: (1, 1, 2.5, 0.5),
  h6: (1, 1, 2.5, 0.5)
);

// Set headings sizes, line-heights and margins
@each $heading, $properties in $headings {
  #{$heading}, .#{$heading} {
    font-size: unquote(nth($properties, 1) + 'rem');
    @include line-height(nth($properties, 2));
    @include margin-top(nth($properties, 3));
    @include margin-bottom(nth($properties, 4));
    font-weight: 600;
  }
}

@include above (sm) {
  $leading-rem: $leading-rem-desktop;

  @each $heading, $properties in $headings {
    #{$heading}, .#{$heading} {
      @include line-height(nth($properties, 2));
      @include margin-top(nth($properties, 3));
      @include margin-bottom(nth($properties, 4));
    }
  }
}


/* Default Image Styles */
img {
  height: auto;
  max-width: 100%;
}

/* WordPress Image Styles */
[class^="wp-image-"], [class*=" wp-image-"], .wp-caption {
  display: block;
  height: auto;
  max-width: 100%;

  .wp-caption & {
    padding: 0;
    border: 0;
  }

  .wp-caption-text {
    font-size: 75%;
    font-style: italic;
    margin: 0;
    padding: 16px 16px 12px;
  }
}

/*
 * oEmbed Styles
 * To make an oEmbed responsive, simply wrap it in
 * `.embed-container`.
 */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  @include m {
    $leading-rem: $leading-rem-desktop;
    @import 'mixins';
  }
}

iframe, object, embed {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include m {
    $leading-rem: $leading-rem-desktop;
    @import 'mixins';
  }

  .embed-container & {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Containers */
.wrap, .contain, .constrain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  word-wrap: break-word;
}

.wrap {
  max-width: 1400px;
}

.contain {
  max-width: 768px;
}

.constrain {
  max-width: 480px;
}


br {
  &.brm {
    @include m {
      display: none;
      visibility: hidden;
    }
  }

  &.mbr {
    display: none;
    visibility: hidden;

    @include m {
      display: block;
      visibility: visible;
    }
  }
}

/*
 * HELPER CLASSES
 */

.hpad {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include above (sm) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.center {
  text-align: center;
}

.alignleft {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 1rem 1rem 0;
    float: left;
  }
}

.aligncenter {
  margin: 1rem auto;
  clear: both;
}

.alignright {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 0 1rem 1rem;
    float: right;
  }
}

.meta-title {
  color: $pink;
}