h1, .h1 {
  font-size: 28px;

  @include above (sm) {
    font-size: 36px;
  }
}

h2, .h2 {
  font-size: 26px;

  @include above(sm) {
    font-size: 32px;
  }
}

h3, .h3 {
  font-size: 24px;

  @include above(sm) {
    font-size: 28px;
  }
}

h4, .h4 {
  font-size: 22px;

  @include above(sm) {
    font-size: 24px;
  }
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
}


// Change headings font if a heading font is set
@if $font-headings != null {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $font-headings;
  }
}